# Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from autocrop import Cropper

from tensorflow.keras import models

# Loading transformed splits

In [2]:
!ls ../raw_data/cnn_inputs/

X_test.npy   y_pred.npy      y_test.npy       y_train.npy
X_train.npy  y_test_cat.npy  y_train_cat.npy

In [5]:
#del y_test,X_test,y_pred
y_test = np.load("../raw_data/cnn_inputs/y_test.npy")
#y_test_cat = np.load("../raw_data/cnn_inputs/y_test_cat.npy")
X_test = np.load("../raw_data/cnn_inputs/X_test.npy")
#print(X_train_transformed.shape,".....",y_train.shape)
print(len(y_test),".....",y_test.shape)

2201 ..... (2201,)

# Model Imports

In [6]:
model_path = '../models/best_model'
model = models.load_model(model_path)

In [93]:
def weighted_accuracy(y_pred):
    for i, element in enumerate(y_pred):
        num1 = int(np.argsort(y_pred[i])[-1])
        num2 = int(np.argsort(y_pred[i])[-2])
        num3 = int(np.argsort(y_pred[i])[-3])
        prop1 = y_pred[i][num1]
        prop2 = y_pred[i][num2]
        prop3 = y_pred[i][num3]
        prop_sum = prop1+prop2+prop3
        print(prop_sum)
        pred = num1*prop1/prop_sum+num2*prop2/prop_sum+num3*prop3/prop_sum
    return pred

In [9]:
df = pd.DataFrame(data=0,dtype='int8'
                  ,index=np.linspace(0,len(y_test)-1,len(y_test),dtype="int32")
                  ,columns=['RealAge','PredictedAge'])

for i in range(0,len(y_test)):
    df.at[i,"RealAge"] = int(y_test[i]*5+1)
    if (i % 100) == 0:
        print(i,"/",len(y_test))

0 / 2201
100 / 2201
200 / 2201
300 / 2201
400 / 2201
500 / 2201
600 / 2201
700 / 2201
800 / 2201
900 / 2201
1000 / 2201
1100 / 2201
1200 / 2201
1300 / 2201
1400 / 2201
1500 / 2201
1600 / 2201
1700 / 2201
1800 / 2201
1900 / 2201
2000 / 2201
2100 / 2201
2200 / 2201

In [10]:
for i in range(0,len(y_test)):
    a = []
    a = np.expand_dims(X_test[i], axis=0)
    y_pred = model.predict(a)
    if (i % 100) == 0:
        print(i,"/",len(y_test))
    df.at[i,"PredictedAge"] = int(weighted_accuracy(y_pred)*5+1)

0 / 2201
100 / 2201
200 / 2201
300 / 2201
400 / 2201
500 / 2201
600 / 2201
700 / 2201
800 / 2201
900 / 2201
1000 / 2201
1100 / 2201
1200 / 2201
1300 / 2201
1400 / 2201
1500 / 2201
1600 / 2201
1700 / 2201
1800 / 2201
1900 / 2201
2000 / 2201
2100 / 2201
2200 / 2201

In [11]:
df

      RealAge  PredictedAge
0          26            29
1          31            25
2          21            25
3          41            37
4          16             9
...       ...           ...
2196       61            56
2197       26            30
2198       26            25
2199       26            29
2200       11            10

[2201 rows x 2 columns]

In [12]:
df['Difference'] = df.RealAge - df.PredictedAge

In [19]:
df.Difference.mean()

1.161744661517492

In [20]:
df.Difference.std()

7.23835801635664

In [177]:
df2 = pd.DataFrame(data=0,dtype='int8'
                  ,index=np.linspace(0,len(y_test)-1,len(y_test),dtype="int32")
                  ,columns=['RealAge','PredictedAge'])

for i in range(0,len(y_test)):
    df2.at[i,"RealAge"] = int(y_test[i]*5+1)
    if (i % 1000) == 0:
        print(i,"/",len(y_test))

0 / 2201
1000 / 2201
2000 / 2201

In [190]:
for i in range(0,3):#len(y_test)):
    a = []
    a = np.expand_dims(X_test[i], axis=0)
    y_pred = model.predict(a)
    if (i % 100) == 0:
        print(i,"/",len(y_test))
    df2.at[i,"PredictedAge"] = int(weight_accuracy_v2(y_pred))

0 / 2201
0 ......... 1.0315905e-08
1 ......... 6.198664e-08
2 ......... 1.3923578e-07
3 ......... 5.8448213e-06
4 ......... 1.3574798e-05
5 ......... 0.00019273302
6 ......... 0.0010451303
7 ......... 0.0046578674
8 ......... 0.014261597
9 ......... 0.017364213
10 ......... 0.026790652
11 ......... 0.061822094
12 ......... 0.09264663
13 ......... 0.16444576
14 ......... 0.22593424
15 ......... 0.39081946
0.9997876380803064
0 ......... 8.73142e-09
1 ......... 4.822008e-07
2 ......... 4.179682e-06
3 ......... 2.3553072e-05
4 ......... 3.057648e-05
5 ......... 0.00030873966
6 ......... 0.0013321295
7 ......... 0.0027948222
8 ......... 0.0103027355
9 ......... 0.010497482
10 ......... 0.016529838
11 ......... 0.072120994
12 ......... 0.080159165
13 ......... 0.15921661
14 ......... 0.22193944
15 ......... 0.4247392
0.9996324345702305
0 ......... 3.8933266e-14
1 ......... 2.9224415e-11
2 ......... 5.7424225e-09
3 ......... 1.9585602e-08
4 ......... 3.751307e-08
5 ......... 1.039082e-06
6 ......... 1.807006e-05
7 ......... 0.00018099994
8 ......... 0.00037095946
9 ......... 0.0007517351
10 ......... 0.0032743022
11 ......... 0.029739257
12 ......... 0.036288165
13 ......... 0.1433139
14 ......... 0.25397438
15 ......... 0.53208715
0.9999989132938936

In [181]:
df2['Difference'] = df2.RealAge - df2.PredictedAge

In [182]:
df2.Difference.mean()

9.907314856883234

In [183]:
df2.Difference.std()

19.004342712209038

In [189]:
def weight_accuracy_v2(y_pred):
    for i in np.sort(y_pred):
        pred = 0
        prop_sum = 0
        for k,element in enumerate(i): #print(i)
            print(k,".........",element)
            if k > 5:
                pred += convert_weight(k) * element
                prop_sum += element
    pred = pred / prop_sum
    print(prop_sum)
    return pred

In [91]:
def convert_weight(num):
    return num*5+3

In [174]:
df2.head()

   RealAge  PredictedAge  Difference
0       26            21           5
1       31            20          11
2       21            20           1
3       41            18          23
4       16            20          -4